@import 'https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'

$color-main-blue: #257cfe
$color-darker-blue: #2375f1
$color-lighter-blue: rgba(37, 124, 254, 0.9)
$color-main-grey: #858585
$white: #fff
$black: #000
$color-darker-grey: #4D4D4D
$color-border: #DCDCDC
$color-darker-border: rgb(213, 213, 213)
$color-light-grey: #999
$color-bg-grey: rgb(243, 244, 247)
$color-incorrect: #a94442
$color-correct: #3c763d

@mixin roboto-medium
    font-family: "Roboto", sans-serif
    font-weight: 500
    font-style: normal

@mixin roboto-regular
    font-family: "Roboto", sans-serif
    font-weight: 400
    font-style: normal

@mixin Oswald-regular
    font-family: "Oswald", sans-serif
    font-weight: 400
    font-style: normal